root = true

[*]
charset=utf-8
end_of_line=crlf
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=tab

[*.js]
indent_size=4

[*.ts]
indent_size=4

[*.json]
indent_size=4

*.vue]
ij_continuation_indent_size = 4
ij_smart_tabs = true
ij_vue_indent_children_of_top_level = template,script,style
ij_vue_interpolation_new_line_after_start_delimiter = true
ij_vue_interpolation_new_line_before_end_delimiter = true
ij_vue_interpolation_wrap = off
ij_vue_keep_indents_on_empty_lines = false
ij_vue_spaces_within_interpolation_expressions = true